version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: pedilo
      POSTGRES_PASSWORD: jejeestanoes
      POSTGRES_DB: jejeestotampoco
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://pedilo:jejeno@db:5432/ahrex
    depends_on:
      - db

volumes:
  db-data:
